extends ../layouts/default

block content
    .container
        .row
            .col-xs-12
                h1 Mon Compte
                p
                    | Vous êtes connecté en tant que 
                    b #{user.email}.
                
                ul
                    li
                        a(href='/update-password') Changer mon mot de passe
                    li
                        a(href='/logout') Se déconnecter
