extends ../layouts/default

block content
    .container
        .row
            .col-xs-12
                h1 Mon Compte
                p
                    | Vous êtes connecté en tant que 
                    b #{user.email}.
                
                a(href='/logout') Se déconnecter
