extends ../layouts/default

block content
    .container: .jumbotron
        h1 Bienvenue !
        p.
          Ce site permet aux français de l'étranger de disposer d'un identifiant
          unique pour accéder aux applications de #MAVOIX.
          
        a.btn.btn-primary.btn-lg(href='/login') Se Connecter
