extends ../layouts/default

block content
    .container
        h1 Mentions légales
        p
        | Ce site Web est administré par
        a(href="https://github.com/promethe42") Jean-Marc Le Roux 
        | et 
        a(href="https://twitter.com/col1m") Colin Maudry 
        | (ci-après, "les administrateurs"), pour le compte du collectif 
        a(href="https://www.mavoix.info") MAVOIX
        | . 
        p Les informations recueillies sont nécessaires à la gestion de nos relations. Elles font l’objet d’un traitement informatique et sont réservées à l’usage des administrateurs.
        p En nous communiquant vos informations, vous nous autorisez à utiliser vos données pour des opérations d'information, de communication, de dons et à l'effet d'organiser la procédure de vote de MAVOIX. Vos informations ne pourront être communiquées qu’à des co-contractants des administrateurs, qui, en leur qualité de sous-traitants, n'agiront que sur les instructions de cette dernière et seront soumis à une stricte obligation de confidentialité. Certains de ces partenaires peuvent avoir des activités dans des pays situés en dehors de l'Union Européenne, notamment aux fins d'hébergement des données. Vos données ne seront toutefois transférées que dans des pays présentant une protection adéquate au regard des garanties imposées par la loi Informatique et Libertés du 6 janvier 1978. Vos données ne seront jamais commercialisées.
        p En application des dispositions des articles 38 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification, de suppression et d’opposition aux informations vous concernant. Vous pouvez exercer ces droits en nous adressant un e-mail à l’adresse data@mavoix.info.
