extends ../layouts/default

block content
    .container
        form(action='/login', method='post')
            .form-group
                label E-mail :
                input(class='form-control', type='text', name='email')
            .form-group
                label Mot de passe :
                input(class='form-control', type='password', name='password')
            .form-group
                a(href='lost-password') Mot de passe perdu ?
            input(type='hidden', name='challenge', value=challenge)
            input(class='btn btn-primary', type='submit', value='Connexion')
