extends ../layouts/default

block content
    .container
        form(action="/login", method="post")
            .form-group
                label E-mail:
                input(class="form-control", type="text", name="username")
            
