extends ../layouts/default

block content
    .container: .jumbotron
        h1 Réinitialisation de votre mot de passe
        p.
          Une demande de réinitialisation de votre mot de passe d'accès aux outils #MAVOIX a été demandée pour votre adresse e-mail. Si vous pensez qu'il s'agit d'une erreur, vous pouvez ignorer cet e-mail.
        p Si vous avez bel et bien demandé la réinitialisation de votre mot de passe, cliquez sur le lien suivant :
        p a(href="#{resetPasswordUrl}" target="_blank") Réinitialiser mon mot de passe
        br
        p Les contributeurs de #MAVOIX
          
