extends ../layouts/default

block content
    .container
        .row
            form(action='', method='post')
                if success
                    .col-xs-12
                        h1 Message envoyé !
                        p 
                          | Un message a été envoyé à l'adresse suivante : 
                          b #{email}
                        p Cliquez sur le lien contenu dans cet e-mail pour réinitialiser votre mot de passe.
                        a(href='/login') Retour à l'écran de connexion
                else
                    if error
                        .col-xs-12
                            .alert.alert-danger
                                p Adresse e-mail invalide.
                    
                    .col-md-4.col-sm-12
                        .form-group(class=error ? 'has-error' : '')
                            label E-mail:
                            input(class='form-control', type='text', name='email', value=email)
                            span.help-block.
                                Entrez l'adresse e-mail utilisée pour votre compte. Un e-mail y sera envoyé pour
                                vous permettre de réinitiliser votre mot de passe.
                        input(class='btn btn-primary', type='submit', value='Réinitiliser mon mot de passe')
